* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #2f3036;

}

.abcd {
  background-color: aqua !important;
}


.contenedor {

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-items: center;
}


.cabeza {

  width: 40%;
  height: 40%;

}

.sepa {
  border-bottom: 8px solid rgb(4, 0, 255);
  border-radius: 5px;
}



.negro_fondo {

  background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    resize: none;

  
    background-color: rgb(30, 30, 30);
    background-blend-mode: soft-light;

}


body {

  text-align: center;
  scroll-behavior: smooth;

}


.centro {
  align-items: center !important;
}


.imrt {
  width: 50px;
  height: 50px;
}




.imgt3 {
  transition: 0.2s;
  background-color: #2f3036;
  height: 5.1vw;
  align-items: center;
  padding-left: 1vw;
  object-fit: cover;
  float: right;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
}


.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}
  

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.visible1 {
  opacity: 1;
  transform: translate(0, 0);
}


.m{
  margin-bottom: 50%;
}





.flip-container {
  perspective: 1000;

}
 

 .flipper {

  transition: 1s;
  transform-style: preserve-3d;
  position: relative;

}
 
.front, .back {

  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
 
.front {
  transform: rotateY(0deg);

}
 
.back {
  transform: rotateY(-180deg);

}


.flip-container:hover .front {
  transform: rotateY(180deg);
}
.flip-container:hover .back {
  transform: rotateY(0deg);
}

.flip-container.hover .front {
  transform: rotateY(180deg);
}
.flip-container.hover .back {
  transform: rotateY(0deg);
}




ul {
  transition: 0.2s;
  background-color: #2f3036;
	list-style-type:none;
	margin:0;
	padding:0;
	position: static;  
  display: flex;
  transition: 0.2s;
}

/*Crea la listahorizontal con espacio*/
li {

float: right;
	margin-right: 0.1vw;
}

/* Estilos para los link */
li a {

  transition: 0.2s;
	display:block;
	width:20vw;
	height:5.1vw;
  font-size: 2vw;
	text-align: center;
	line-height: 5vw;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
  

}

/* estados hover de los link */
li:hover a {
	background: #19c589;
 
}

/* estilos del dropdown */
li:hover ul a {
  transition:all 0.5s ease;
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
  width: 14.99vw;
  font-size: 0.9VW;
  float:inline-start;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;

	padding: 0 20px;
}

/* Aparace el dropdown en hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/* Estilo de .muestra-menu */
.show-menu {
  background-color: #2f3036;  
  width: 100%;
  height: 5.1vw;
  align-items: center;
font-size: 2vw;
  object-fit: cover;
  float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	text-align: center;

	display: none;

}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/* estilos responsive */

@media screen and (max-width : 760px){

  .m{
    margin-bottom: 90%;
  }
  
  .m2{
    margin-bottom: 90%;
  }

  .bto{
    width: 5vw !important;
  height:5vw !important;
  }
	
  li a {
    margin-left: 57% !important;}
  
  /*Hace que el dropdown links aparezcan en linea */
	ul {
		position: static;
		display: none;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links  ancho full */
	ul li, li a {
    margin-right: 56vw;
		width: 96vw;
	}
	/*Display '.muestra-menu' link*/
	.show-menu {
		display:block !important;
	}

  li:hover ul a {
    margin-left: 15vw !important;
    transition:all 0.5s ease;
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    width: 176vw;
    float:left;
  }



}




@media screen and (max-width : 600px){


  .bto{
    width: 9vw !important;
  height:9vw !important;
  }
	




}



















































.modal-content {
  width: 80%;
  margin: 0 auto;
}
.modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}
h1 {
  font-size: 2.3em;
  font-weight: bold;
}

p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}
p a {
  color: #e1e1e1;
  text-decoration: none;
}
p a:hover {
  color: #fff;
}


.amodal-contenido{
  background-color: #24242c ;
  width:40vw;
  left: 30vw;
  padding: 10px 20px;
  margin: 10% 0;
  display: flex;
  position: relative;



}
