
$blue: rgba(0, 174, 255, 0.938);
$pink: rgba(247, 0, 164, 0.938);
$dark-grey: rgb(48, 48, 48);

$sd-blue: 0 -.2rem 1rem $blue;
$sd-pink: 0 .2rem 1rem $pink;
// $sd-white: 0 0 1rem grey;

$sd-neon: $sd-blue, $sd-pink;

.App{
  width: 100%;
  height: calc(100vh);
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  & *{
    margin: 1rem;
  }

  &__Button{
    padding: .5rem;
    background-color: $dark-grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform .2s;
    width: 15rem;

    &:hover {
      transform: translate(0, -.1rem) scale(1.03);
    }
  }

}